<!doctype html>
<html lang="{{ htmllang() }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ config.get('general/sitename') -}}
            {%- if record.title is defined and app.request.get('_route') != "homepage" %} | {{ record.title|striptags }}{% endif -%}
            {%- if record.title is defined and app.request.get('_route') == "homepage" %} | {{ config.get('general/payoff') }}{% endif -%}

            {# {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%} #}
        </title>
        <link rel="stylesheet" href="{{ asset('dist/css/theme.css', 'theme') }}">
    </head>

    <body>
        <div id="app">

        {% block body %}

            {{ include('partials/_header.twig') }}

            {% block main %}
            {% endblock main %}

            {%- if app.request.get('_route') == "homepage" %}
                {{ include('partials/_work_in_progress.twig') }}
            {% endif -%}



            {{ include('partials/_footer.twig') }}

        {% endblock body %}

        </div>

    </body>
</html>


